footer{
	margin-left: 20px;
}
marquee{
		font-size: 25px;
		font-family:cursive;
		color:#3498DB;
}
@media(max-width: 1024px){
			body{background-color: transparent;}
		}
		@media(min-width: 1025px) and (max-width: 1200px){
			body{background-color: transparent;}
		}
		@media(min-width: 1201px){
			body{background-color: transparent;}
		}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
li {
  float: left;
}

li a{
  font-size: 20px;
  font-family: cursive;
  display: block;
  color: white;
  text-align: center;
  padding:10px;
  text-decoration: none;
}

li a:hover {
  background-color: gray;
}
.a{
	width: 80%;
}
.a img{
	padding-top: 30px;
	margin-left: 100px;	
	width: 80%;
	height: 420px;
	transition-duration: 2s;
  	transition-delay: 1s;
}
.nn{
	display: flex;
	flex-direction: row;
}
.oo{
	font-family: cursive;
	border:2px solid #6C3483;
	border-style: solid  dotted;
	width: 190px;
	height: 120px;
	padding: 10px;
	margin-top: 150px;
	transition-duration: 2s;
  	transition-delay: 1s;
  	border-radius: 2px 40px;
}
.b{
	margin-top: 20px;
	margin-left: 50px;
}
.b img{
	border:2px solid black;
	border-radius: 2px 40px;
}
.c{
	display: none;
}
.d{
	margin-left: 100px;
	margin-top: 30px;
	margin-right: 100px;
}
.e img{
	width: 75px;
	height: 75px;
}
.f{
	display: flex;
	flex-direction: row;
}
.i{
	display: flex;
	flex-direction: row;
}
.h{
	display: flex;
	flex-direction: row;
}
.k img{
	height: 200px;
	margin-right: 100px;
	margin-top: 50px;
}
.l{
	margin-left: 60px;
	margin-right: 200px;
}
.m,.p,.s{
	display: flex;
	flex-direction: row;
}
.n{
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
}
.q img,.u img{
	width:300px;
	height:200px;
	margin-left: 30px;
	margin-right: 30px;
}
.v img{ 
	margin-left: 450px;
	height: 250px;
	width: 350px;
}
.w,.y,.x,.z{
	background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
 	margin-left: -50px;
}
.aa{
	font-size: 20px;
	display: flex;
	flex-direction: row;
}
.cc{
	margin-left: 600px;
}
.dd img{
	width: 35px;
	height: 35px;
}
.hh img{
	width: 25px;
	height: 25px;
}
.ff,.gg{
	display: flex;
	flex-direction: row;
}